
@font-face {
    font-family: w95;
    src: url(/font/W95FA/w95fa.woff);
}

@font-face {
    font-family: scoreboard;
    src: url(/font/Scoreboard/scoreboard.ttf);
}

html, body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image:linear-gradient(to bottom, #666666, #88aaab);
    background-image: url(/images/static.jpg);
    background-size: cover;
    background-repeat:round;
}

/*-----------------------------Navigation---------------------------*/
.nav-container {
    width: auto;
    padding: 0;
    margin: 0px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin:0;
    background-color: #000000;
    opacity: 1;
    border: 10px solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #67cbdb, #3160ed);
} 

/* Home page icon styles */
.icon-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
}
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    width: 70px;
    padding: 0;
    transition: 0.3s ease;
}

.nav-icon:hover {
    transition: 0.3s ease;
    background-color: #5045e5;
}

.world-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    height: 100%;
}
.world-icon {
    height: 40px;
    padding: 0;
    transition: 0.5s ease;
}
.world-icon:hover {  
    transform: rotate(5deg);
    transition: 0.5s ease;
}

/* Navigation Menu (excluding home page icon) */

.nav-item-mobile {
    display: none;
}

.nav-menu-mobile {
    display: none;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hamburger {
    display: none;
    margin-left: auto;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.hamburger:focus {
    outline:none;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: 0.5s ease;
}
.user-icon:hover {
    transform:rotate(5deg);
    transition: 0.5s ease;
}



.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    padding: 0;
    transition: 0.3s ease;
}

.nav-item:hover, .nav-item:focus {
    transition: 0.3s ease;
    background-color: #5045e5;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: inherit;
    font-family: w95, sans-serif;
    font-size: 30px;
    color: #fdffff;
    text-shadow: 2px 0px #ee4444;
    text-decoration: none;
}

.speaker-icon {
    padding-right: 3px;
    height: 20px;
}

.tour-icon {
    padding-right: 3px;
    height: 23px;
}

/*----------------------------------Social Media----------------------------------------*/
.social-block {
    display: flex;
    margin-left: auto;
    padding: 0px 20px;
    list-style: none;
}

.social-block-mobile {
    display: none;
}

.social-item {
    display: flex;
    height: 100%;
    padding: 0px 20px;
}
.social-icon {
    display: flex;
    padding: 2px 7px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fdffff;
    text-shadow: 2px 0px #000000;
    transition: .3s ease;
}

.social-icon:hover, .social-icon:focus {
    color: #ee4444;
    transition: .3s ease;
}

main {
    height:auto;
    contain: content;
    margin: 0;
    padding: 10px;
}

@keyframes backgroundColorPalette {
    0% {
      background: rgba(0,0,0,0.4);
    }
    25% {
      background: rgba(44,97,236,0.4);
    }
    50% {
      background: rgba(154,100,21,0.4);
    }
    75% {
      background: rgba(81, 239, 76, 0.4);
    }
    100% {
      background: rgba(81, 54, 136,0.4);
    }
  }

h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 100%;
    cursor: default;
    font-family:w95, sans-serif;
    font-size: 120px;
    text-decoration: underline;
    text-shadow: 5px 2px #5144d2;
    color: #ea4946;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:w95, sans-serif;
}
/*----- NEWS SECTION (INDEX.HTML)------ */

.news-container {
    display: grid;
    margin:30px auto auto auto;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 800px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 5px; 
}

.news-heading {
    font-family: w95, sans-serif;
    font-size: 30px;
    padding: 10px 0px 5px 20px;
    margin: 0;
}

.news-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    padding: 20px;
}
/* grid-area: row start / column start / row span / column span  */
.news-image {
    display: flex;
    justify-content: left;
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 0;
    padding: 0;
}

.news-image img {
    display: block;
    max-width: 200px;
    height: auto;
    border-radius: 2px;
    margin: 0;
}

.news-body {
    display: flex;
    justify-content: left;
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0px 0px 0px 10px;
    margin: 0;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item {
    text-decoration: none;
    font-size: 15px;
    font-family:w95, sans-serif;
    color: #9e9e9e;
    padding-bottom: 10px;
}
.news-item.headline {
    font-size: 25px;
    color: #000000;
}
.news-item a {
    text-decoration: none;
    color:#8b8b8b;
}


/*---------------MUSIC SECTION---------------*/

.music-card-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr;
    margin: 30px auto auto auto;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
}

.container-heading {
    grid-area: 1 / 1 / span 1 / span 1;
    font-family: w95, sans-serif;
    font-size: 30px;
    padding: 10px 0px 5px 15px;
    margin: 0;
}

/* row start / column start / row span / column span  */
.music-card {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    max-width: 300px;
    padding: 10px;
}

.cover-art {
    display: flex;
    justify-content: left;
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 5px 5px 0px 5px;
    margin: 0;
}

.cover-art img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}

.meta-info {
    display: flex;
    justify-content: left;
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 5px;
    margin: 0;
}
.meta-list {
    list-style:none;
    font-family: w95, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.meta-list .title {
    font-size: 15px;
    font-weight:bold;
}

.buy-link {
    text-decoration: none;
    color: #8b8b8b;
}

.music-image-container:hover .fa-spotify{display:flex; justify-content: center; align-items: center}
.music-image-container:hover .music-ep-cover{opacity: 0.8}
.music-ep-cover:hover {
    opacity: 0.8;
}

@media screen and (max-width: 750px){

    
    /*-----------NEWS SECTION (BELOW 750px)------------*/

    .news-image img {
        max-width: 150px;
    }

    .news-item {
        font-size: 12px;
    }
    .news-item.headline {
        font-size: 20px;
    }

    /*-----------NAV SECTION (BELOW 750px)-------------*/
    h1 {
        font-size: 80px;
        transition: .3s ease;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        transition: 0.5s ease;
    }

    .nav-item {
        display: none;
        transition: 0.5s ease;
    }
    .nav-menu-mobile {
        background-image: linear-gradient(15deg, #fdffff, #5045e5, #000000);
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
        position: absolute;
        padding: 0;
        opacity: 1;
        z-index: 1;
        margin: 0;
        left: 0;
        right: 0;
        transition: 0.5s ease;
    }

    .nav-item-mobile {
        display: flex;
        height: 80px;
        width: 100%;
        overflow: hidden;
    }

    .nav-link-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: inherit;
        font-family: w95, sans-serif;
        font-size: 25px;
        color: #fdffff;
        text-shadow: 2px 0px #000000;
        text-decoration: none;
    }
    .nav-item-mobile:hover {
        background-color: #5045e5;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger:hover {
        background-color:#5045e5;
    }

    /*--------------------SOCIAL MEDIA---------------*/


    .social-block {
        display: none;
        transition: 0.3s ease;
    }
    .social-block-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        background-color: #5045e5;
        transition: 0.5s ease;
    }
    .social-item-mobile {
        display: flex;
        height: 100%;
        padding: 0px 10px;
    }

    .social-link-mobile {
        padding: 10px;
    }

    /*-------------- CARD --------------*/

    .listen-btn {
        font-size: 20px;
    }

}

@media screen and (max-width: 500px){

    /*-------------NEWS SECTION (UNDER 500px)-----------*/

    .news-card {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 15px;
    }

    .news-image {
        justify-content: center;
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .news-image img {
        max-width: 100%;
    }
    .news-body {
        justify-content: center;
        grid-area: 2 / 1 / span 1 / span 1;
        padding: 10px 0px 0px 0px;
    }

    /*-----------MUSIC SECTION (UNDER 500px)-------------*/

    .music-card-section {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 60px;
        transition: .3s ease;
    }

    .world-icon {
        height: 35px;
    }
    .user-icon {
        height: 35px;
    }

    .social-icon {
        font-size: 23px;
    }

    .index-image-container .fa-spotify {
        font-size: 80px;
    }
}

@media screen and (max-width: 360px){

    .index-card-container {
        max-width: 95%;
    }
    .index-card-header {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
        transition: .3s ease;
    }

    .world-icon {
        height: 30px;
    }
    .user-icon {
        height: 30px;
    }

    .social-icon {
        font-size: 20px;
    }

    .index-image-container .fa-spotify {
        font-size: 50px;
    }

    .listen-btn {
        font-size: 14px;
    }
}