
@font-face {
    font-family: w95;
    src: url(/font/W95FA/w95fa.woff);
}

@font-face {
    font-family: scoreboard;
    src: url(/font/Scoreboard/scoreboard.ttf);
}

html, body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image:linear-gradient(to bottom, #666666, #88aaab);
    background-image: url(/images/static.jpg);
    background-size: cover;
    background-repeat:round;
}

/*-----------------------------Navigation---------------------------*/
.nav-container {
    width: auto;
    padding: 0;
    margin: 0px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin:0;
    background-color: #000000;
    opacity: 1;
    border: 10px solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #67cbdb, #3160ed);
} 

/* Home page icon styles */
.icon-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
}
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    width: 70px;
    padding: 0;
    transition: 0.3s ease;
}

.nav-icon:hover {
    transition: 0.3s ease;
    background-color: #5045e5;
}

.world-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    height: 100%;
}
.world-icon {
    height: 40px;
    padding: 0;
    transition: 0.5s ease;
}
.world-icon:hover {  
    transform: rotate(5deg);
    transition: 0.5s ease;
}

/* Navigation Menu (excluding home page icon) */

.nav-item-mobile {
    display: none;
}

.nav-menu-mobile {
    display: none;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hamburger {
    display: none;
    margin-left: auto;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.hamburger:focus {
    outline:none;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: 0.5s ease;
}
.user-icon:hover {
    transform:rotate(5deg);
    transition: 0.5s ease;
}



.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    padding: 0;
    transition: 0.3s ease;
}

.nav-item:hover, .nav-item:focus {
    transition: 0.3s ease;
    background-color: #5045e5;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: inherit;
    font-family: w95, sans-serif;
    font-size: 30px;
    color: #fdffff;
    text-shadow: 2px 0px #ee4444;
    text-decoration: none;
}

.speaker-icon {
    padding-right: 3px;
    height: 20px;
}

.tour-icon {
    padding-right: 3px;
    height: 23px;
}

/*----------------------------------Social Media----------------------------------------*/
.social-block {
    display: flex;
    margin-left: auto;
    padding: 0px 20px;
    list-style: none;
}

.social-block-mobile {
    display: none;
}

.social-item {
    display: flex;
    height: 100%;
    padding: 0px 20px;
}
.social-icon {
    display: flex;
    padding: 2px 7px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fdffff;
    text-shadow: 2px 0px #000000;
    transition: .3s ease;
}

.social-icon:hover, .social-icon:focus {
    color: #ee4444;
    transition: .3s ease;
}

main {
    height:auto;
    contain: content;
    margin: 0;
    padding: 10px;
}

@keyframes backgroundColorPalette {
    0% {
      background: rgba(0,0,0,0.3);
    }
    25% {
      background: rgba(44,97,236,0.3);
    }
    50% {
      background: rgba(154,100,21,0.3);
    }
    75% {
      background: rgba(81, 239, 76, 0.3);
    }
    100% {
      background: rgba(81, 54, 136,0.3);
    }
  }

h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    cursor: default;
    font-family:w95, sans-serif;
    font-size: 120px;
    text-decoration: underline;
    text-shadow: 5px 2px #5144d2;
    color: #ea4946;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:w95, sans-serif;
}
/*----- GRID CARD STYLE ------ */

.card-container {
    display: grid;
    margin: auto;
    padding-bottom: 10px;
    max-width: 1000px;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto auto auto;
    background-image:linear-gradient(to right,#444444,#656565,#87a9b0, #87a9b0, #656565, #444444);
    border: 10px solid;
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, #67cbdb, #3160ed);
}
.card-header {
    display: block;
    justify-content: center;
    margin: 5px;
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: #000000;
    overflow: hidden;
    white-space:nowrap;
}

.hmove {
    display: flex;
}

.hitem {
    flex-shrink: 1;
    margin: auto;
    padding-left: 4px;
    text-align: center;
    font-family: scoreboard, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: yellow;
  }

  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-600%, 0, 0); }
  }
  .hmove { animation: tickerh linear 30s infinite; }
  .hmove:hover { animation-play-state: paused; }

.card1 {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.card2 {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
/*  start row 2 / start column 1 / span 2 rows / span3 columns */
.card3 {
    display: flex;
    justify-content: center;
    grid-area: 2 / 3 / span 1 / span 1;
    padding: 10px;
    margin: 10px;
}

.card4 {
    display: flex;
    justify-content: center;
    grid-area: 3 / 2 / span 1  / span 1;
    margin: 5px;
}

.single-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.listen-btn {
    width: 70%;
    height: 100%;
    background-color:#000000;
    font-family: w95, sans-serif;
    font-size: 22px;
    margin: 0;
    /* border-top: 3px solid #fdffff;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #fdffff; */
}

.listen-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color:#fdffff;
    height: 100%;
    margin: auto;
    text-shadow: 2px 0px #ea4946;
}


@media screen and (max-width: 750px){

    @keyframes tickerh {
        0% { transform: translate3d(100%, 0, 0); }
        100% { transform: translate3d(-2200%, 0, 0); }
      }
      .hmove { animation: tickerh linear 40s infinite; }
      .hmove:hover { animation-play-state: paused; }
    /*-----------CARD MOBILE------------*/

    .card-container {
        display: grid;
        contain: content;
        margin: 40px auto auto auto;
        max-width: 70%;
        grid-template-columns: auto;
        grid-auto-rows: auto auto auto auto;
    }

    .card-header {
        margin: 3px;
        padding: 5px;
        text-align: center;
        grid-area: 1 / 1 / span 1 / span 3;
        font-family: w95, sans-serif;
        font-size: 40px;
        color: #fdffff;
    }

    .card1 {
        grid-area: 2 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }
    
    .card2 {
        grid-area: 3 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }
    
    .card3 {
        grid-area: 4 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }

    .card4 {
        display: flex;
        justify-content: center;
        grid-area: 5 / 2 / span 1  / span 1;
        margin: 5px;
    }

    h1 {
        font-size: 80px;
        transition: .3s ease;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        transition: 0.5s ease;
    }

    .nav-item {
        display: none;
        transition: 0.5s ease;
    }
    .nav-menu-mobile {
        background-image: linear-gradient(15deg, #fdffff, #5045e5, #000000);
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
        position: absolute;
        padding: 0;
        opacity: 1;
        z-index: 1;
        margin: 0;
        left: 0;
        right: 0;
        transition: 0.5s ease;
    }

    .nav-item-mobile {
        display: flex;
        height: 80px;
        width: 100%;
        overflow: hidden;
    }

    .nav-link-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: inherit;
        font-family: w95, sans-serif;
        font-size: 25px;
        color: #fdffff;
        text-shadow: 2px 0px #000000;
        text-decoration: none;
    }
    .nav-item-mobile:hover {
        background-color: #5045e5;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger:hover {
        background-color:#5045e5;
    }

    /*--------------------SOCIAL MEDIA---------------*/


    .social-block {
        display: none;
        transition: 0.3s ease;
    }
    .social-block-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    background-color: #5045e5;
        transition: 0.5s ease;
    }
    .social-item-mobile {
        display: flex;
        height: 100%;
        padding: 0px 10px;
    }

    .social-link-mobile {
        padding: 10px;
    }

}

@media screen and (max-width: 500px){

    .card-container {
        max-width: 80%;
    }
    .card-header {
        font-size: 25px;
    }
    h1 {
        font-size: 60px;
        transition: .3s ease;
    }

    .world-icon {
        height: 35px;
    }
    .user-icon {
        height: 35px;
    }

    .social-icon {
        font-size: 23px;
    }
}

@media screen and (max-width: 360px){

    .card-container {
        max-width: 95%;
    }
    .card-header {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
        transition: .3s ease;
    }

    .world-icon {
        height: 30px;
    }
    .user-icon {
        height: 30px;
    }

    .social-icon {
        font-size: 20px;
    }
}