
@font-face {
    font-family: w95;
    src: url(/public/font/W95FA/w95fa.woff);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image:linear-gradient(to bottom, #048383, #fdffff);
    background-size: cover;
    background-repeat: no-repeat;
}

/*-----------------------------Navigation---------------------------*/
.nav-container {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    border: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin:0;
    background-image: linear-gradient(60deg, #ff0081, #c3c3c3, #048383, #c3c3c3);
    opacity: 1;
    border-top: 4px solid #fdffff;
    border-left: 4px solid #fdffff;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
} 

/* Home page icon styles */
.icon-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
}
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    width: 90px;
    padding: 0;
    transition: 0.6s ease;
}

.nav-icon:hover {
    transition: 0.6s ease;
    background-color: #048383;
}

.world-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    height: 100%;
}
.world-icon {
    height: 40px;
    padding: 0;
    transition: 0.5s ease;
}
.world-icon:hover {  
    transform: rotate(5deg);
    transition: 0.5s ease;
}

/* Navigation Menu (excluding home page icon) */

.nav-item-mobile {
    display: none;
}

.nav-menu-mobile {
    display: none;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 70px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hamburger {
    display: none;
    margin-left: auto;
    height: 70px;
    width: 90px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: 0.5s ease;
}
.user-icon:hover {
    transform:rotate(5deg);
    transition: 0.5s ease;
}

.hamburger:focus {
    outline:none;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    padding: 0;
    transition: 0.6s ease;
}

.nav-item:hover, .nav-item:focus {
    transition: 0.6s ease;
    background-color: #048383;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: inherit;
    font-family: w95, sans-serif;
    font-size: 26px;
    color: #000000;
    text-shadow: 2px 0px #fdffff;
    text-decoration: none;
}

.speaker-icon {
    padding-right: 3px;
    height: 20px;
}

.about-icon {
    padding-right: 3px;
    height: 23px;
}

/*----------------------------------Social Media----------------------------------------*/
.social-block {
    display: flex;
    margin-left: auto;
    padding: 0px 20px;
    list-style: none;
}

.social-block-mobile {
    display: none;
}

.social-item {
    display: flex;
    height: 100%;
    padding: 0px 20px;
}
.social-icon {
    display: flex;
    padding: 2px 7px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fdffff;
    text-shadow: 2px 0px #000000;
    transition: .3s ease;
}

.social-icon:hover, .social-icon:focus {
    font-size: 32px;
    transition: .3s ease;
}

main {
    height:auto;
    contain: content;
    margin: 0;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    cursor: default;
    font-family:w95, sans-serif;
    font-size: 80px;
    text-decoration: underline;
    text-shadow: 2px 0px #fdffff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:w95, sans-serif;
}
/*----- GRID CARD STYLE ------ */

.card-container {
    display: grid;
    margin: 50px 20px 50px 20px;
    max-width: auto;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto auto auto;
    background-color:#c3c3c3;
    border-top: 10px solid #fdffff;
    border-right: 10px solid #000000;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #fdffff;
}
.card-header {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 3px;
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: #010081;
    font-family: w95, sans-serif;
    font-size: 60px;
    color: #fdffff;
}

.card1 {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.card2 {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
/*  start row 2 / start column 1 / span 2 rows / span3 columns */
.card3 {
    display: flex;
    justify-content: center;
    grid-area: 2 / 3 / span 1 / span 1;
    padding: 10px;
    margin: 10px;
}

.card4 {
    display: flex;
    justify-content: center;
    grid-area: 3 / 2 / span 1  / span 1;
    margin: 5px;
}

.single-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.listen-btn {
    width: 90%;
    height: 100%;
    background-color:#010081;
    font-family: w95, sans-serif;
    font-size: 20px;
    color:#fdffff;
    padding: 4px;
    border-top: 3px solid #fdffff;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #fdffff;
}

.listen-btn a {
    text-decoration: none;
    color:#fdffff;
}


@media screen and (max-width: 750px){

    /*-----------CARD MOBILE------------*/

    .card-container {
        display: grid;
        contain: content;
        margin: 40px auto auto auto;
        max-width: 80%;
        grid-template-columns: auto;
        grid-auto-rows: auto auto auto auto;
    }

    .card-header {
        margin: 3px;
        padding: 5px;
        text-align: center;
        grid-area: 1 / 1 / span 1 / span 3;
        background-color: #010081;
        font-family: w95, sans-serif;
        font-size: 40px;
        color: #fdffff;
    }

    .card1 {
        grid-area: 2 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }
    
    .card2 {
        grid-area: 3 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }
    
    .card3 {
        grid-area: 4 / 1 / span 1 / span 3;
        margin: 10px;
        padding: 10px;
    }

    .card4 {
        display: flex;
        justify-content: center;
        grid-area: 5 / 2 / span 1  / span 1;
        margin: 5px;
    }

    h1 {
        font-size: 60px;
        transition: .3s ease;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        transition: 0.5s ease;
    }

    .nav-item {
        display: none;
        transition: 0.5s ease;
    }
    .nav-menu-mobile {
        background-image: linear-gradient(15deg, #c3c3c3, #010081, #c3c3c3);
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
        position: absolute;
        padding: 0;
        opacity: 1;
        z-index: 1;
        margin: 0;
        left: 0;
        right: 0;
        transition: 0.5s ease;
    }

    .nav-item-mobile {
        display: flex;
        height: 80px;
        width: 100%;
        overflow: hidden;
    }

    .nav-link-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: inherit;
        font-family: w95, sans-serif;
        font-size: 25px;
        color: #fdffff;
        text-shadow: 2px 0px #000000;
        text-decoration: none;
    }
    .nav-item-mobile:hover {
        background-color: #048383;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger:hover {
        background-color: #048383;
    }

    /*--------------------SOCIAL MEDIA---------------*/


    .social-block {
        display: none;
        transition: 0.3s ease;
    }
    .social-block-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        background-image: url("./images/Red.jpg");
        background-size:90%;
        background-repeat:round;
        transition: 0.5s ease;
    }
    .social-item-mobile {
        display: flex;
        height: 100%;
        padding: 0px 10px;
    }

    .social-link-mobile {
        padding: 10px;
    }

}

@media screen and (max-width: 500px){

    .card-header {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
        transition: .3s ease;
    }

    .world-icon {
        height: 35px;
    }
    .user-icon {
        height: 35px;
    }

    .social-icon {
        font-size: 23px;
    }
}